.modal-title-assigned-due {
    border-bottom: 1px solid #d5dce0;
    padding-bottom: 20px;
}

.modal-title-input {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    margin-bottom: 15px;
}

.modal-title-input:hover {
    border: 1px solid #d5dce0;
    border-radius: 4px;
}

.assigned-due-container {
    display: flex;
    flex-direction: row;
}

.modal-assigned-to {
    color: #848f99;
    border-radius: 18px;
    margin-right: 15px;
    height: 38px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    transition: all 0.2s ease;
}

.modal-assigned-to:hover {
    color: black;
    border: 1px solid #646f79;
    cursor: pointer;
    background: #f6f8f9;
}

.avatar {
    background: #37c5ab;
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.avatar-unassigned {
    background: #fff;
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.unassign-cleardate {
    margin-left:8px;
    visibility: hidden;
    opacity: .2;
    transition: all 0.2s ease;
}

.unassign-cleardate:hover {
    opacity: 1;
}

.modal-due-date {
    border-radius: 18px;
    color: #848f99;
    height: 38px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.2s ease;
}

.modal-due-date:hover {
    color: black;
    border: 1px solid black;
    cursor: pointer;
    background: #f6f8f9;
    border: 1px solid #646f79;
}

.calendar-icon {
    height: 24px;
    width: 24px;
    border: 1px solid #848f99;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    margin-right: 10px;
}